@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");
@import "tailwindcss";
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
